<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
</head>
<body>
    <h1>Edit Task</h1>

    <form action="" method="POST">
        <input type="text" name="title" value="{{ task['title'] }}" required><br><br>
        <textarea name="description" required>{{ task['description'] }}</textarea><br><br>
        <input type="text" name="status" value="{{ task['status'] }}" required><br><br>
        <select name="priority_id">
            <option value="1" {% if task['priority_id'] == 1 %}selected{% endif %}>High</option>
            <option value="2" {% if task['priority_id'] == 2 %}selected{% endif %}>Medium</option>
            <option value="3" {% if task['priority_id'] == 3 %}selected{% endif %}>Low</option>
        </select>
        <select name="category_id">
            <option value="1" {% if task['category_id'] == 1 %}selected{% endif %}>Work</option>
            <option value="2" {% if task['category_id'] == 2 %}selected{% endif %}>Family</option>
            <option value="3" {% if task['category_id'] == 3 %}selected{% endif %}>Study</option>
        </select><br><br>
        <button type="submit">Update Task</button>
    </form>
</body>
</html>
